<link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/status_table.css?v=' | append: site.github.build_revision | relative_url }}">

<!-- Favicons belong to / were obtained from the DOE ECP project page,
     view-source for https://www.exascaleproject.org/ and search `.png`. -->
<link rel="icon" href="{{ '/assets/images/cropped-ecp-icon-32x32.png?v=' | append: site.github.build_revision | relative_url }}" sizes="32x32" />
<link rel="icon" href="{{ '/assets/images/cropped-ecp-icon-192x192.png?v=' | append: site.github.build_revision | relative_url }}" sizes="192x192" />
<link rel="apple-touch-icon" href="{{ '/assets/images/cropped-ecp-icon-180x180.png?v=' | append: site.github.build_revision | relative_url }}" />
<meta name="msapplication-TileImage" content="{{ '/assets/images/cropped-ecp-icon-270x270.png?v=' | append: site.github.build_revision | relative_url }}" />
